@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

.app,
.appModal,
.appDrawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;                    
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-background);
}

*::-webkit-scrollbar-thumb {
  background: var(--inverted-primary-color);                    
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}



